.parameter {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;

    .label {
        width: 200px;
    }

    .unit {
        padding-left: 10px;
        text-align: center;
    }
}

.parameter-disabled {
    color: rgba($color: #000000, $alpha: .3);
}