.pill-button {    
    cursor: pointer;
    width: 100px;
    padding: 10px 20px 10px 5px;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    border: none;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba($color: black, $alpha: .2);

    .text {
        margin-left: 7px;
    }
}

mat-icon {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pill-button-selected {
    
    background-color: rgba($color: #5A96DC, $alpha: 1.0);

    &:hover {
        background-color: rgba($color: #5A96DC, $alpha: .85);        
    }
}

.pill-button-disabled {
    
    color: rgba($color: #000000, $alpha: .3);
}

.pill-button-enabled {
    
    &:hover {
        background-color: rgba($color: black, $alpha: .1);    
    }
}